

/*.movie_go_to_link{

}*/

.img_size_for_best {
    height: 280px;
    width: 280px;
} 

.img_size {
    height: 400px;
    width: 280px;
} 

.box {
    overflow: hidden;
    height: 200px;
    width: 100%;
    line-height: 25px;
    padding-right: 5px;
}

.box:before {
    content: "";
    float: left;
    width: 5px;
    height: 195px;
}

.box > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.box:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 50%, #f5f5f5);
}

.movie--test--dark .box:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #dbdee1 50%, #dbdee1);
}

@media (max-width: 1024px) {
    .box {
        height: 174px;
    }

    .box:before {
        height: 174px;
    }
}

@media (max-width: 768px) {
    .box {
        height: 200px;
    }

    .box:before {
        height: 200px;
    }
}


@media (max-width: 474px) {
    .box {
        height: 115px;
    }

    .box:before {
        height: 110px;
    }
}




.go_to_link {
    col_jayor: #fe505a;
    font: 16px 'aleoregular', sans-serif;
    padding-right: 20px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-right: 30px;
}

.go_to_link:before {
    col_jayor: #fe505a;
    content: "\f054";
    font: 16px "FontAwesome";
    position: absolute;
    right: 10px;
    top: 6px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.go_to_link:hover {
    background-col_jayor: #fe505a;
    col_jayor: #ffffff;
}

.go_to_link:hover:before {
    col_jayor: #ffffff;
}


.movie-best .movie-best__rating:before{
    left: 55%!important;
}

.movie-best .movie-best__rating:after {
    right: 55% !important;
}

.slide .slide__text {
    font: 20px 'Roboto', sans-serif !important;
    col_jayor: #ffffff;
    text-align: right;
    line-height: 21px;
}

.banner_padding{
    padding-left: 5px;
}


.trailer_btn{
    margin-top: 40px;
}

.choose-container .datepicker{
    margin-left: 0 !important;
}

.movie_info{
    text-align: left;
}


.movie__info_order h2 {
    margin-top: 15px !important;
}

.poster_purchase{
    text-align:center;
}



.ticket_price_jay, .common_price_jay {
    font-weight: bold;
}



.common_price_jay {
    color: red;
    
}

.common_text_jay {
    margin-left: 218px;
}

.common_jay{
    margin-top:20px;
}

.ticket_price_jay {
    margin-left: 410px;
}

.tickets_jay {
    font-size: 15pt;
} 


@media (max-width: 1024px) {
    .common_text_jay {
        margin-left: 305px;
    }

    .common_jay {
        margin-top: 20px;
    }

    .ticket_price_jay {
        margin-left: 500px;
    }

    .tickets_jay {
        font-size: 15pt;
    } 
}

@media (max-width: 768px), (max-width: 991px) {
    .common_text_jay {
        margin-left: 218px;
    }

    .common_jay {
        margin-top: 20px;
    }

    .ticket_price_jay {
        margin-left: 410px;
    }

    .tickets_jay {
        font-size: 15pt;
    }
}


@media (max-width: 699px) {
    .common_text_jay {
        margin-left: 40px;
    }

    .common_jay {
        margin-top: 20px;
    }

    .ticket_price_jay {
        margin-left: 235px;
    }

    .tickets_jay {
        font-size: 15pt;
    }
}

@media (max-width: 521px) {
    .common_text_jay {
        position: absolute;
        left: -25px;
        top: 173px;
    }

    .common_jay {
        margin-top: 20px;
    }

    .ticket_price_jay {
        margin-left: 204px;
    }

    .tickets_jay {
        font-size: 15pt;
    }
}




@media (max-width: 474px) {
    .common_text_jay {
        position: absolute;
        left: -25px;
        top: 159px;
    }

    .ticket_price_jay {
        margin-left: 100px;
    }

    .tickets_jay {
        font-size: 12pt;
    } 
}