<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Troyeshchyna Cinemas</title>
    <meta name="description" content="diplom">
    <meta name="keywords" content="diplomProject">
    <meta name="author" content="JayGold">

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">

    <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
    <!-- Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <!-- Mobile menu -->
    <link href="~/Content/gozha-nav.css" rel="stylesheet" />
    <!-- Select -->
    <link href="~/Content/external/jquery.selectbox.css" rel="stylesheet" />
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/Content/settings.css">
    <link rel="stylesheet" type="text/css" href="~/Content/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Content/navigation.css">
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    <!-- Custom -->
    <link href="~/Content/style.css?v=1" rel="stylesheet" />
    <link href="~/Content/jay_styles.css" rel="stylesheet"/>

    <!-- Modernizr -->
    <script src="~/Scripts/external/modernizr.custom.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Header section -->
        <header class="header-wrapper header-wrapper--home">
            <div class="container">
                <!-- Logo link-->

                <a href='@Url.Action("Index", "Main")' class="logo">
                    <img alt='logo' src='@Url.Content("~/Images/logo.png")'>
                </a>               

                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                                <span class="lines"></span>
                            </span>
                        </span>
                    </a>

                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="">Кинотеатры</a>
                            <ul>
                                <li class="menu__nav-item"><a href="#">Флоренция</a></li>
                                <li class="menu__nav-item"><a href="#">Boomer</a></li>                               
                            </ul>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="movie-list-full.html">Фильмы</a>
                        </li>                      
                    </ul>
                </nav>

                <!-- Additional header buttons / Auth and direct link to booking-->
                @*<div class="control-panel">
                    <div class="auth auth--home">
                        <div class="auth__show">
                            <span class="auth__image">
                                <img alt="" src="~/Images/client-photo/auth.png">
                            </span>
                        </div>
                        <a href="#" class="btn btn--sign btn--singin">
                            Я
                        </a>
                        <ul class="auth__function">
                            <li><a href="#" class="auth__function-item">Watchlist</a></li>
                            <li><a href="#" class="auth__function-item">Booked tickets</a></li>
                            <li><a href="#" class="auth__function-item">Discussion</a></li>
                            <li><a href="#" class="auth__function-item">Settings</a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn--sign login-window">Войти</a>
                    <a href="#" class="btn btn-md btn--warning btn--book btn-control--home login-window">Забронировать</a>
                </div>*@
            </div>
        </header>
        
         @RenderBody()

        <hr />
        <div class="clearfix"></div>
        <footer class="footer-wrapper">
            <section class="container">
                <div class="col footer-nav text-center">
                    <p class="copy">&copy; Troyeshchyna Cinemas, 2018. Златов Вячеслав</p>
                </div>
            </section>
        </footer>
    </div>

    <!-- open/close -->
    <div class="overlay overlay-hugeinc">

        <section class="container">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="button" class="overlay-close">Close</button>
                <form id="login-form" class="login" method='get' novalidate=''>
                    <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>
                    <div class="social social--colored">
                        <a href='#' class="social__variant fa fa-facebook"></a>
                        <a href='#' class="social__variant fa fa-twitter"></a>
                        <a href='#' class="social__variant fa fa-tumblr"></a>
                    </div>
                    <p class="login__tracker">or</p>

                    <div class="field-wrap">
                        <input type='email' placeholder='Email' name='user-email' class="login__input">
                        <input type='password' placeholder='Password' name='user-password' class="login__input">
                        <input type='checkbox' id='#informed' class='login__check styled'>
                        <label for='#informed' class='login__check-info'>remember me</label>
                    </div>

                    <div class="login__control">
                        <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                        <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <!-- JavaScript-->
    <!-- jQuery 3.1.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/external/jquery-3.1.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="~/Scripts/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- Slider Revolution core JavaScript files -->
    <script type="text/javascript" src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution extension ~/Scripts. -->
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extensions/revolution.extension.video.min.js"></script>
    <!-- Mobile menu -->
    <script src="~/Scripts/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="~/Scripts/external/jquery.selectbox-0.2.min.js"></script>
    <!-- Stars rate -->
    <script src="~/Scripts/external/jquery.raty.js"></script>

    <!-- Form element -->
    <script src="~/Scripts/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="~/Scripts/form.js"></script>
    <!-- Twitter feed -->
    <script src="~/Scripts/external/twitterfeed.js"></script>
    <!-- Custom -->
    <script src="~/Scripts/custom.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            init_Home();
        });
    </script>
  
</body>
</html>