
@{
    ViewBag.Title = "Banner";
}

    <!-- Slider -->
<div class="bannercontainer rev_slider_wrapper">

    <!-- the ID here will be used in the JavaScript below to initialize the slider -->
    <div id="rev_slider_1" class="banner rev_slider" style="display:none">

        <!-- BEGIN SLIDES LIST -->
        <ul>

            <!-- SLIDE 1 -->
            <li data-transition="fade" class="slide" data-title='Красный воробей'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="~/Images/slides/banner-1519824616.jpg">
                <div class="tp-caption slide__name margin-slider"
                     data-x="right"
                     data-y="80"
                     data-frames='[{
                               "delay":300,
                               "split":"chars",
                               "splitdelay":0.1,
                               "speed":700,
                               "frame":"0",
                               "from":"x:[-100%];opacity:0;",
                               "mask":"x:0px;y:0px;s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power4.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Красный воробей
                </div>

                <div class="tp-caption slide__date margin-slider"
                     data-x="right"
                     data-y="196"
                     data-frames='[{
                               "delay":1700,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    США, 01 Мар 2018, 120 мин, 16+, Триллер
                </div>
                <div class="tp-caption slide__text margin-slider text-right"
                     data-x="right"
                     data-y="250"
                     data-frames='[{
                               "delay":2300,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;skX:50px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Доминика Егорова против своей воли завербована в российскую секретную службу.<br> Теперь она «воробей» — профессиональный агент, который использует свое тело и ум для достижения цели.
                </div>
                <div class="tp-caption margin-slider"
                     data-x="right"
                     data-y="324"
                     data-frames='[{
                               "delay":2600,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">Купить билет</a>
                </div>

            </li>


            <!-- SLIDE 2 -->
            <li data-transition="fade" class="slide" data-title='Игра Молли'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="~/Images/slides/banner-1518607607.jpg">
                <div class="tp-caption slide__name margin-slider"
                     data-x="right"
                     data-y="80"
                     data-frames='[{
                               "delay":300,
                               "split":"chars",
                               "splitdelay":0.1,
                               "speed":700,
                               "frame":"0",
                               "from":"x:[-100%];opacity:0;",
                               "mask":"x:0px;y:0px;s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power4.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Игра Молли
                </div>
                <div class="tp-caption slide__date margin-slider"
                     data-x="right"
                     data-y="186"
                     data-frames='[{
                               "delay":1700,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    США, 01 Фев 2018 , 141 мин , 16+, Драма
                </div>
                <div class="tp-caption slide__text margin-slider text-right"
                     data-x="right"
                     data-y="250"
                     data-frames='[{
                               "delay":2300,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;skX:50px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Драма «Игра Молли» является экранизацией автобиографической книги о владелице подпольного клуба для игроков в покер Молли Блум.<br> Девушка терпит неудачу в спортивной карьере, не попав в олимпийскую сборную.<br> Она идет работать в небольшое кафе.
                </div>
                <div class="tp-caption margin-slider"
                     data-x="right"
                     data-y="324"
                     data-frames='[{
                               "delay":2600,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">Купить билет</a>
                </div>

            </li>


            <!-- SLIDE 3 -->
            <li data-transition="fade" class="slide" data-title='Секретное досье'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="~/Images/slides/banner-1519203774.jpg">
                <div class="tp-caption slide__name margin-slider"
                     data-x="right"
                     data-y="80"
                     data-frames='[{
                               "delay":300,
                               "split":"chars",
                               "splitdelay":0.1,
                               "speed":700,
                               "frame":"0",
                               "from":"x:[-100%];opacity:0;",
                               "mask":"x:0px;y:0px;s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power4.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Секретное досье
                </div>
                <div class="tp-caption slide__date margin-slider"
                     data-x="right"
                     data-y="196"
                     data-frames='[{
                               "delay":1700,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    США,  22 Фев 2018 ,100 мин, 16+, биографический
                </div>
                <div class="tp-caption slide__text margin-slider text-right"
                     data-x="right"
                     data-y="250"
                     data-frames='[{
                               "delay":2300,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;skX:50px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Фильм «Секретное досье» описывает реальные события, которые происходили в начале 70-х годов прошлого века в Соединенных Штатах.<br> Владелец газеты Кей Грэм и редактор издания Беном Брэдли получают в свое распоряжение секретные документы Пентагона,<br> содержащие правдивую информацию о войне во Вьетнаме.
                </div>
                <div class="tp-caption margin-slider"
                     data-x="right"
                     data-y="324"
                     data-frames='[{
                               "delay":2600,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">Купить билет</a>
                </div>

            </li>

        </ul><!-- END SLIDES LIST -->

    </div><!-- END SLIDER CONTAINER -->

</div><!-- END SLIDER CONTAINER WRAPPER -->
<!--end slider -->

