
@{
    ViewBag.Title = "Index";
}

<!--Banners-->
@{Html.RenderPartial("Banner");}

<!-- Main content -->
<section class="container">

    <!--Best-->

    @Html.Action("BestMovies");


    <div class="clearfix"></div>
    <h2 id='target' class="page-heading heading--outcontainer">Сейчас в кинотеатрах</h2>
    <div class="col-sm-12">
        <div class="row">

            <!--Movies now on cinema-->
            <div class="col-sm-12 col-md-12 col-xs-12 col-12" >

                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img alt='' src="~/Images/movie/movie-time8.jpg">
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">Gravity (2013)  </a>
                        <p class="movie__time">91 min</p>
                        <p class="movie__option"><a href="#">Sci-Fi</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>
                        <div class="box">
                            <div>
                                <p style="text-align: justify;">&nbsp;Доминика Егорова была примой балета до серьёзной травмы, которая поставила крест на её карьере. Теперь перед ней и её мамой стоит мрачное будущее. Доминике пообещали найти для мамы лучшего врача, если девушка вступит в секретную школу Воробьёв. Там тренируются особенные молодые люди, которых в дальнейшем можно использовать для манипуляций, соблазнения противников. Но методы обучения там зверские, садистские, унизительные и очень жестокие. Доминика не только прошла курс, но и стала лучшим Воробьем, которого только выпускала программа. Её заданием стал агент ЦРУ Натаниэль Нэш, которого надо соблазнить и раскрыть как крота американцев в России. Но между ними завязываются особенные отношения, а сама Доминика желает во что бы то не стало отомстить тем, кто сделал из неё свою марионетку.</p>
                            </div>
                        </div>
                        
                        
                        <div class="movie_go_to_link">
                            <a href="movie-page-left.html" class="go_to_link">перейти</a>
                        </div>  
                    </div>                
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img alt='' src="~/Images/movie/movie-time1.jpg">
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">The Hobbit: The Desolation of Smaug (2013)  </a>
                        <p class="movie__time">169 min</p>
                        <p class="movie__option"><a href="#">Adventure</a> | <a href="#">Fantasy</a> | <a href="#">Drama</a></p>

                        
                    </div>
                </div>
              


                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img alt='' src="~/Images/movie/movie-time9.jpg">
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">The Hunger Games: Catching Fire (2013)   </a>
                        <p class="movie__time">146 min</p>
                        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Sci-Fi</a></p>
                        <div class="box">
                            <div>
                                <p style="text-align: justify;">&nbsp;Доминика Егорова была примой балета до серьёзной травмы, которая поставила крест на её карьере. Теперь перед ней и её мамой стоит мрачное будущее. Доминике пообещали найти для мамы лучшего врача, если девушка вступит в секретную школу Воробьёв. Там тренируются особенные молодые люди, которых в дальнейшем можно использовать для манипуляций, соблазнения противников. Но методы обучения там зверские, садистские, унизительные и очень жестокие. Доминика не только прошла курс, но и стала лучшим Воробьем, которого только выпускала программа. Её заданием стал агент ЦРУ Натаниэль Нэш, которого надо соблазнить и раскрыть как крота американцев в России. Но между ними завязываются особенные отношения, а сама Доминика желает во что бы то не стало отомстить тем, кто сделал из неё свою марионетку.</p>
                            </div>
                        </div>


                        <div class="movie_go_to_link">
                            <a href="movie-page-left.html" class="go_to_link">перейти</a>
                        </div>  
                    </div>                   
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img alt='' src="~/Images/movie/movie-time10.jpg">
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">Thor: The Dark World (2013) </a>
                        <p class="movie__time">112 min</p>
                        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Fantasy</a></p>

                        
                    </div>
                </div>




                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img alt='' src="~/Images/movie/movie-time11.jpg">
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">World War Z (2013)  </a>
                        <p class="movie__time">116 min</p>
                        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Horror</a></p>

                        
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img alt='' src="~/Images/movie/movie-time12.jpg">
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">Prisoners (2013) </a>
                        <p class="movie__time">153 min</p>
                        <p class="movie__option"><a href="#">Crime</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>

                       
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img alt='' src="~/Images/movie/movie-time13.jpg">
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">This Is the End (2013)   </a>
                        <p class="movie__time">107 min</p>
                        <p class="movie__option"><a href="#">Comedy</a> | <a href="#">Fantasy</a></p>

                       
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img alt='' src="~/Images/movie/movie-time14.jpg">
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">The Internship (2013)  </a>
                        <p class="movie__time">112 min</p>
                        <p class="movie__option"><a href="#">Comedy</a></p>

                        
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

