
@{
    ViewBag.Title = "Index";
}

<!--Banners-->
@Html.Action("Banners");

<!-- Main content -->
<section class="container">

    <!--Best-->

    @Html.Action("BestMovies")


    <div class="clearfix"></div>
    <h2 id='target' class="page-heading heading--outcontainer"> Лучшее в кинотеатрах</h2>
    <div class="col-sm-12">
        <div class="row">

            <!--Movies now on cinema-->
            @Html.Action("TodayMovies")

        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".header-wrapper").css("position", "absolute");
    });
</script>

